@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic);

body {
	font-family: 'Droid Serif';
}

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}

li {
    font-size: 150%;
    line-height: 150%;
    word-wrap: break-word;
}

li ul li {
    font-size: 85%;
    word-wrap: break-word;
}


.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}

code.remark-code {
    font-size: 110%;
    line-height: 110%;
}


.media-icon img {
  width: 3%;
}

table {
    border-top: 1px #000000 solid;
    border-left: 1px #000000 solid;
    width: 90%;
}

th {
    text-transform:uppercase;
    border-bottom: 1px #000000 solid;
    border-right: 1px #000000 solid;
    padding: 10px;
    font-size: 1.2em;
    background-color: #dddddd;
}

td {
    vertical-align: top;
    border-bottom: 1px #000000 solid;
    border-right: 1px #000000 solid;
    padding: 10px;
    font-size: 1.2em;
}