/* Image styling */
.phpunit-result-ok img {
    display: block;
    width: 700px;
}

.phpunit-result-error img {
    display: block;
    width: 700px;
}


/* Slide specific Styling */
#slide-assertions table th,
#slide-assertions table td {
    font-size: 0.9em;
    padding: 0.8em;
}
